*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    position: relative;
    
}
.nav{
    height: 100px;
    width: 100%;
    border-bottom: 1px solid gray;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}
.nav img{
    width: 80px;
    height: 80%;
    display: flex;
align-items: center;
    justify-content: center;
    border-radius: 50%;
    
    
}
.nav-part2{
    display: flex;
    /* background-color: blue; */
    gap: 4vw;
    align-items: center;
}
.nav h2{
font-size: 2vw ;
 font-weight: 700;
}
.nav h4{
    font-size: 1.2vw;
}
.nav i{
    font-size: 4.6vw;
    font-weight: 800;
    display: none;
    
}
.content{
    height: calc(100% - 100px);
    width: 100%;
    /* background-color: burlywood ; */
    display: flex;

}

.left {
    height: 100%;
    width: 50%;
    /* background-color: red; */
    padding: 7vw 4vw;

}

.left h1{
    font-size: 4vw;
    line-height: 4.4vw;
}
.left h1 span{
    color: rgb(48, 187, 152);
   
}

.left p{
    font-size: 1.2vw;
    font-weight: 600;
    color: #666;
    width: 80%;
    margin-top: 3vw;
    margin-bottom: 4vw;
}
#buttonright{
    font-size: 1.5vw;
    padding: 1.3vw 2.3vw;
    background-color: lightseagreen;
    color: #fff;
    border-radius: 5px;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 10px;
    
}
#signin{
    /* width: 20px;
    height: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightseagreen; */
    
    font-size: 1.5vw;
    padding: 1.3vw 2.3vw;
    background-color: lightseagreen;
    color: #fff;
    border-radius: 5px;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 10px;

}

.right{ 
    height:100% ;
    width: 45%;
    /* background-color: rgb(61, 61, 175); */
}

@media (max-width: 600px) {
    .nav{
        /* background-color: salmon;
        color: white; */
        padding: 0 5vw ; 
        height: 60px;
    }
    .nav button{
        display: none;
    }
    .nav h2{
        font-size: 5.1vw;
    }
    .nav h4{
        font-size: 4vw;
        display: none;  
    }
    .nav i{
        display: block;
        /* font-weight: 8000; */
        font-size: 4.5vw;
    }
    .content{
        height: calc(100% - 60px);
       
    }

.left{
/* background-color:red; */
width: 100%;
height: 60%;
}
.right{
    background-color:red ;;
}
.left h1{
    font-size: 10vw;
    line-height: 11vw;
}
}








.right{
    height: 100%;
    width: 100%;
}
.right img{
    height: 100%;
    width: 900px
};

